---
nav_pages:
  - title: Home
    display_title: Home
    slug: ""
  - title: Car Detailing
    display_title: Car Detailing Packages
    slug: car-detailing
  - title: Boat Detailing
    display_title: Boat Detailing Packages
    slug: boat-detailing
  - title: Tint Packages
    display_title: Tint Packages
    slug: tint-packages
  - title: Contact
    display_title: Contact Us
    slug: contact
  - title: Car Photos
    display_title: Car Detailing Photos
    slug: car-photos
  - title: Boat Photos
    display_title: Boat Detailing Photos
    slug: boat-photos
  - title: Tint Photos
    display_title: Tint Photos
    slug: tint-photos

---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/cyborg/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <title>Wicked Clean | {{ title }}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark-subtle">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">WICKED CLEAN</a>
	<button class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
        </button>
	<div class="collapse navbar-collapse" id="navbarNav">
	  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	    {% for page in nav_pages %}
            <li class="nav-item">
              <a class="nav-link {% if title == page.title %}active{% endif %}"
	      href="/{{ page.slug }}">
	        {{ page.display_title }}
	      </a>
            </li>
	    {% endfor %}
	  </ul>
	</div>
      </div>
    </nav>
    <div class="container">
    {{ content | safe }}
      <div class="row">
        <div class="col text-center">
	  <a href="https://www.facebook.com/profile.php?id=61558959748591">
	    <i class="bi-facebook"></i>
	  </a>
	  <a href="https://www.instagram.com/wickedclean.ga/">
	    <i class="bi-instagram"></i>
	  </a>
	  <a href="https://x.com/WickedCleanga">
	    <i class="bi-twitter-x"></i>
	  </a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
	  © 2024 by <a href="/">Wicked Clean</a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
	  <p><small>
	      <a href="/privacy-policy">Privacy Policy</a>
	  </small></p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
	  <p><small>
	      <a href="/toc">Terms and Conditions</a>
	  </small></p>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
